body {
    background: url("../img/img.jpg") no-repeat;
    background-size: 50% 50%; /* Hace que la imagen ocupe el 50% del ancho y 50% de la altura de su contenedor */
    background-position: top left; /* Asegura que la imagen comience desde la esquina superior izquierda */
    background-repeat: repeat; /* Repite la imagen */
    color: #fff;
    margin: 0;
    padding: 0;
}

.fondo {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para mejorar la visibilidad del contenido */
    border-radius: 15px;
    border: 2px solid #007286;
    padding: 20px;
}

.btn-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.btn-link:hover {
    color: #007286;
}

.bg-card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid #007286;
    padding: 15px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    body {
        background-size: 100% 100%; /* Ajuste para móviles, la imagen puede ocupar toda la pantalla */
    }
}

